PORT=3000
LOG_LEVEL=info

BOTMAKER_WEBHOOK_TOKEN=
BOTMAKER_API_BASE_URL=https://api.botmaker.com/v2.0
BOTMAKER_API_TOKEN=

INTERNAL_API_KEY=

CREATIO_WEBHOOK_URL=
CREATIO_AUTH_URL=
CREATIO_USERNAME=
CREATIO_PASSWORD=
CREATIO_BPMCSRF_HEADER=BPMCSRF
